/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #191221;
    text-align: center;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    animation: fade-in 0.5s ease-in-out forwards;
}

#myModal {
    z-index: 999; /* Establece un valor alto para el modal */
    position: absolute;
    top: 0;
}

#modalTitle {
    margin-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    bottom: 0;
}

.modal-img {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content-img {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.close-img {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* Estilos globales para todos los elementos secundarios directos de body */
body > * {
    color: aliceblue;
    /* Box-sizing para evitar problemas de diseño */
    box-sizing: border-box;
}

/* NAV BAR */
.navbar {
    position: sticky;
    top: 0;
    background-image: linear-gradient(to left, #272440, #171430);
    padding: 5px 0;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para los enlaces del menú */
.navbar a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Cambiar color de fondo y escala al pasar el mouse por encima */
.navbar a:hover {
    background-color: #4f4158;
    transform: scale(1.05);
}

/* Estilos para el contenedor */
.contenedor {
    padding: 50px;
    padding-top: 70px;
}

/* Flexibilizar los contenedores principales */
#message-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece la altura mínima al 100% de la altura de la ventana gráfica */ 
    overflow-x: hidden;   
}

.Proyectos,
.Informacion,
.Contacto {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece la altura mínima al 100% de la altura de la ventana gráfica */
}

/*INICIO-PRESENTACION*/

#message-container h1 {
    font-family: f, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Times, serif, sans-serif;
    font-size: 50px;
    color: #563D6D;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center; /* Centrar horizontalmente el texto */
    align-self: center; /* Centrar verticalmente el texto */
    margin: 0; /* Restablecer todos los márgenes */
    padding: 0; /* Restablecer todo el relleno */  
}

.highlight {
    color: #7f7a86;
    margin: 0; /* Elimina el espacio entre estos elementos */
    padding: 0;
    margin-left: 26%;
    margin-right: 26%;
}

.highlight_2 {
    color: #3b2f4b;
    margin: 0; /* Elimina el espacio entre estos elementos */
    padding: 0;
    margin-left: 26%;
    margin-right: 26%;
}


#message-container h1:hover,
.highlight:hover,
.highlight_2:hover {
    transform: scale(1.1);
    cursor: default;
}

/* Volver al tamaño original al quitar el mouse */
#message-container h1:not(:hover),
.highlight:not(:hover),
.highlight_2:not(:hover) {
    transform: scale(1);
    cursor: default;
}

@media screen and (min-width: 500px) {
    #message-container h1 {
        font-size: 82px;
      }
      
      .highlight {
          font-size: 32px;
      }
      
      .highlight_2 {
          font-size: 22px;
      }
}

/*INFORMACION*/
.Informacion{
    background-color: #0c0c11;
    padding-top: 10px;
    padding-bottom: 10px;
}

.infoPersonal{
    background-color: #0d062b;
    padding: 5px 0px 5px 0px;
    margin: 20px 50px 20px 50px;    
    border-radius: 30px; /* Bordado redondeado de 10px */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border: 1px solid #1d1a36;; /* Borde negro de 2px */
    border-radius: 20px;
}

#dato {
    background-color: #1d1a36;
    margin: 20px;
    border: 1px solid rgb(9, 1, 14); /* Borde negro de 2px */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    padding: 0px;
}

#dato > * {
    margin: 20px;
    padding: 0px;
}

#dato p {
    color: #aaaaaa;
}

#dato p b {
    color: #ffffff;
}

.habilidadesDiv {
    background-color: #0d062b;
    padding: 15px 0;
    margin: 20px 50px;
    border: 2px solid black; /* Borde negro de 2px */
    border-radius: 30px;
}

.ImgLenguaje {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ImgLenguaje img {
    width: 98%;
    height: auto;
    cursor: pointer;
    margin: 6px;
    border: 6px solid rgb(15, 10, 19); /* Borde negro de 2px */
    border-radius: 20px;
}

.ImgLenguaje img:hover,
#dato:hover {
    transform: scale(1.072);
}

.ImgLenguaje img:not(:hover),
#dato:not(:hover) {
    transition: transform 0.3s;
    transform: scale(1);
}

/* PROYECTOS */
.Proyectos {
    border: solid 2px;
    border-color: #0b080e;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.proyect_panel {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Coloca los elementos en ambos extremos de la línea */
    padding: 16px;
    margin: 32px;
    background-color: #1f1c38;
    margin-bottom: 28px;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a una nueva línea en pantallas más pequeñas */
    border: solid 5px;
    border-color: rgba(15, 10, 19, 0.72);
}

.proyect_panel:hover {
   scale:1.018;
}

.proyect_panel :not(:hover) {
    scale:1;
 }

.proyect_image {
    flex: 1 0 10%; /* Ocupa el 30% del ancho */
    text-align: center; /* Alinea la imagen a la izquierda */
    margin-right: 10px; /* Espacio entre la imagen y el contenido */
}

.proyect_image img {
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.proyect_content {
    flex: 1 1 80%; /* Ocupa el 65% del ancho */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 10px;
    background: #0b080e;
}

.proyect_content > * {
    margin: 0;
}

.proyect_content h2 {
    color: #8576aa;    
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 0; /* Elimina el margen superior del título */
    margin-left: 12px;
}

.proyect_content h2 i {
    color: #564f69;    
    font-size: 16px;
}

.proyect_text {
    margin-top: 10px; /* Espacio entre el título y el texto */
    margin-bottom: 10px; /* Espacio entre el texto y el botón */
    text-align: left; /* Alinea el texto a la izquierda */
}

.proyect_content_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #41218a; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
    margin-left: 15px;
    margin-bottom: 15px;
}

/* Estilo del botón al pasar el cursor por encima */
.proyect_content_button:hover {
    background-color: #38005e; /* Color de fondo cambiado al pasar el cursor */
}







/* CONTACTO */
.Contacto {
    padding-bottom: 0;
    margin-bottom: 0;
    bottom: 0;
    margin-bottom: -10px; /* Ajusta el margen inferior para eliminar el espacio */
    position: relative; /* Establecer posición relativa para elementos secundarios */
}

.Contacto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.036; /* Ajusta la opacidad según tus preferencias */
    z-index: -1; /* Asegúrate de que el pseudo-elemento esté detrás del contenido */
}

.Contacto > * {
    position: relative; /* Asegura que los elementos secundarios estén por encima del pseudo-elemento */
    z-index: 1; /* Asegúrate de que los elementos secundarios estén por encima del pseudo-elemento */
}



form {
    margin: 0 auto;
    padding: 10px;
    max-width: 400px; /* Establecer un ancho máximo para el formulario */
}

#contact-title, .Proyectos h3, .Informacion h3 {
       padding-top: 32px;
       color: rgb(182, 182, 182); /* Cambiar el color del texto del input según tus preferencias */
       font-size: 2.32em;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega sombreado al texto */
    }

/* Estilos para los labels */
label {
    display: block;
    margin-bottom: 5px;
    color: white; /* Cambiar el color del texto del label según tus preferencias */
}

/* Estilos para los inputs */
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: transform 0.3s;
    background: #0E0C10;
    color: white; /* Cambiar el color del texto del input según tus preferencias */
}

/* Cambiar tamaño al pasar el mouse por encima */
input[type="text"]:hover,
textarea:hover {
    transform: scale(1.05); /* Ajustar el factor de escala según sea necesario */
}

/* Volver al tamaño original al quitar el mouse */
input[type="text"]:not(:hover),
textarea:not(:hover) {
    transition: transform 0.3s;
    transform: scale(1);
}

/* Estilos para el botón */
input[type="submit"] {
    margin-top: 10px;
    color: snow;
    font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
    padding: 10px 20px; /* Ajusta el espaciado según sea necesario */
    background-color: #272440; /* Cambiar el color de fondo del botón según tus preferencias */
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Cambiar color de fondo del botón al pasar el mouse por encima */
input[type="submit"]:hover {
    background-color: #171430; /* Cambiar el color de fondo del botón en hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

br {
    padding-top: 20px; /* Espaciado entre elementos BR */
}


.Proyectos h3,
.Informacion h3,
.Contacto h3 {    
    padding-top: 20px;
    font-size: 32px;
}

/* FOOTER */
footer {
    background-color: #0b080e;
    padding-top: 0;
    margin-top: -10px; /* Ajusta el margen superior para eliminar el espacio */
}

footer p {
    font-size: 12px;
}

/* Estilos para pantallas más pequeñas, por ejemplo, dispositivos móviles */
@media screen and (max-width: 470px) {
    .navbar a {
        font-size: 0.62em; /* Tamaño de fuente más pequeño */
    }

    .highlight,    
    .highlight_2  {
        font-size: 18px;
        margin-left: 12%;
        margin-right: 12%;
    }
    
    body{
        margin-left: 7px;
    }
}

/* Otra media query para un tamaño de pantalla diferente */
@media screen and (min-width: 471px) 
{
    .navbar a {
        padding: 10px 25px;
    }

}